<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ext.sunny.com.activitylifedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.ext.sunny.aidl.permission"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebviewActivity">

        </activity>

        <activity
            android:name=".SecondActivity"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".TaskAffinyActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.sunny.taskaffiny">

        </activity>

        <activity
            android:name=".aop.AopActivity"
            android:launchMode="singleTop" />

        <activity android:name=".camera.CameraXActivity" />

        <service
            android:name=".services.PersonService"
            android:permission="com.ext.sunny.aidl.permission"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ext.sunny.aidl.remoteservice" />
            </intent-filter>

        </service>

        <meta-data
            android:name="xposedmodule"
            android:value="false" /><!--应用为模块:true:是（将看不到图标) false:不是-->
        <meta-data
            android:name="xposeddescription"
            android:value="Easy example which makes the status bar clock red and adds a smiley" /><!--模块描述-->
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>